<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/public/image/hydrangeaIcon.png" type="image/x-icon">
</head>
<body>
    <nav>
       <h1>| <a href="/views/week1/index.html">home </a>| <a href="/views/week1/image.html">image</a> | <a href="/aboutus.html" target="_blank">about us</a></h1>

    </nav>
    <img src="/public/image/hydrangea.png" alt="">
</body>
</html>