<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/image/hydrangeaIcon.png" type="image/x-icon">
    <title>ce company</title>

</head>

<body>
    <nav>
        <h1>| <a href="#">home </a>| <a href="/webappWeek1/views/week1/image.html">image</a> | <a
                href="/webappWeek1/week1assignment/webpage/aboutus.html" target="_blank">about us</a></h1>

    </nav>
    <h1>hello my friends</h1>
    <!-- for header -->
    good afternoon
    goodbye
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div> At voluptate corporis cum neque iusto placeat
    enim vel quisquam corrupti, optio, impedit dolorum ullam maxime in rem animi velit officia nobis.
    <div>test div tag</div>
    <button type="submit">click me</button><br>
    <input type="text" value=""><br>
    <input type="password" name="" id=""><br>

    <div>
        <textarea placeholder="textarea test" id=""></textarea><br>
        <input type="text" name="" id=""><br>
        <input type="checkbox" name="" id="">red<br>
        <select name="" id="">
            <option value="">red</option>
            <option value="">blue</option>
            <option value="">green</option>
        </select><br>
        <div>
            <input type="radio" name="color" id="">red
            <input type="radio" name="color" id="">blue
            <input type="radio" name="color" id="">grenn
        </div>
        <div>
            <input type="date" name="" id="">
        </div>
        <img src="../public/image/hydrangea.png" alt="some kind of flowers with blue color and fully broomming"
            width="80px">
        <img src="https://www.mfu.ac.th/fileadmin/media/about_mfu/black_ribbon.png" alt="a blck ribbon" width="80px">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>major</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>peter</td>
                        <td>ce</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>danman</td>
                        <td>ce</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>parker</td>
                        <td>ce</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>

</html>